<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--取出集合中的数据-->
<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    <tr th:each="userInfo,userStates:${userInfoList}">
        <td th:text="${userInfo.id}"></td>
        <td th:text="${userInfo.name}"></td>
        <td th:text="${userInfo.age}"></td>
    </tr>
</table>
<br/>
-----------------------------
</body>
</html>